<!-- establecer titulo en el centro -->
<h1 class="text-center">Reportes</h1>
<div class="content">
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <form class="row g-3 align-items-end" (ngSubmit)="obtenerProductosMasVendidosPorIntervalo()">
                    <div class="col-md-4">
                        <label for="fechaInicio" class="form-label">Desde:</label>
                        <input type="date" id="fechaInicio" class="form-control" [(ngModel)]="fechaInicio" name="fechaInicio" required>
                    </div>
                    <div class="col-md-4">
                        <label for="fechaFin" class="form-label">Hasta:</label>
                        <input type="date" id="fechaFin" class="form-control" [(ngModel)]="fechaFin" name="fechaFin" required>
                    </div>
                    <div class="col-md-4 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Buscar</button>
                    </div>
                </form>
                <h2>Top 10 productos más vendidos.</h2>
            </div>
            <div class="card-body">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre producto</th>
                            <th>Total vendidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (productos of topProductos; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{productos.nombre}}</td>
                            <td>{{productos.total_vendidos}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <form class="row g-3 align-items-end" (ngSubmit)="topClientesQueMasGananciasPorComprasHanGenerado()">
                    <div class="col-md-4">
                        <label for="fechaInicio" class="form-label">Desde:</label>
                        <input type="date" id="fechaInicio" class="form-control" [(ngModel)]="fechaInicio" name="fechaInicio" required>
                    </div>
                    <div class="col-md-4">
                        <label for="fechaFin" class="form-label">Hasta:</label>
                        <input type="date" id="fechaFin" class="form-control" [(ngModel)]="fechaFin" name="fechaFin" required>
                    </div>
                    <div class="col-md-4 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Buscar</button>
                    </div>
                </form>
                <h2>
                    Top 5 clientes que más ganancias por compras han generado.
                </h2>
            </div>
            <div class="card-body">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Correo</th>
                            <th>DPI</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (cliente of topClientesPorCompras; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{cliente.correo}}</td>
                            <td>{{cliente.dpi}}</td>
                            <td>{{cliente.nombre}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <form class="row g-3 align-items-end" (ngSubmit)="clientesQueMasProductosHanVendido()">
                    <div class="col-md-4">
                        <label for="fechaInicio" class="form-label">Desde:</label>
                        <input type="date" id="fechaInicio" class="form-control" [(ngModel)]="fechaInicio" name="fechaInicio" required>
                    </div>
                    <div class="col-md-4">
                        <label for="fechaFin" class="form-label">Hasta:</label>
                        <input type="date" id="fechaFin" class="form-control" [(ngModel)]="fechaFin" name="fechaFin" required>
                    </div>
                    <div class="col-md-4 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Buscar</button>
                    </div>
                </form>
                <h2>
                    Top 5 clientes que más productos han vendido.
                </h2>
            </div>
            <div class="card-body">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Correo</th>
                            <th>DPI</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (cliente of topClientesPorVentas; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{cliente.correo}}</td>
                            <td>{{cliente.dpi}}</td>
                            <td>{{cliente.nombre}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <form class="row g-3 align-items-end" (ngSubmit)="clientesQueMasProductosHanVendido()">
                    <div class="col-md-4">
                        <label for="fechaInicio" class="form-label">Desde:</label>
                        <input type="date" id="fechaInicio" class="form-control" [(ngModel)]="fechaInicio" name="fechaInicio" required>
                    </div>
                    <div class="col-md-4">
                        <label for="fechaFin" class="form-label">Hasta:</label>
                        <input type="date" id="fechaFin" class="form-control" [(ngModel)]="fechaFin" name="fechaFin" required>
                    </div>
                    <div class="col-md-4 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Buscar</button>
                    </div>
                </form>
                <h2>
                    Top 10 clientes que más pedidos han realizado
                </h2>
            </div>
            <div class="card-body">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Correo</th>
                            <th>DPI</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (cliente of topClientesPorVentas; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{cliente.correo}}</td>
                            <td>{{cliente.dpi}}</td>
                            <td>{{cliente.nombre}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    Top 10 clientes que más productos tienen a la venta.
                </h2>
            </div>
            <div class="card-body">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Correo</th>
                            <th>DPI</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (cliente of topClientesConMasProductos; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{cliente.correo}}</td>
                            <td>{{cliente.dpi}}</td>
                            <td>{{cliente.nombre}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    Historial de sanciones.
                </h2>
            </div>
            <div class="card-body">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Motivo</th>
                            <th>Fecha Sancion</th>
                            <th>Estado</th>
                            <th>DPI</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (sancion of sanciones; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{sancion.idSancion}}</td>
                            <td>{{sancion.motivo}}</td>
                            <td>{{sancion.fechaSancion}}</td>
                            <td>{{sancion.estado}}</td>
                            <td>{{sancion.dpiUsuario}}</td>
                            <td>{{sancion.nombre}}</td>
                            <td>{{sancion.correo}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    Historial de Notificaciones.
                </h2>
            </div>
            <div class="card-body">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Correo Notificado</th>
                            <th>Fecha Notificacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (notificacion of notificaciones; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{notificacion.id_notificacion}}</td>
                            <td>{{notificacion.correo_notificado}}</td>
                            <td>{{notificacion.fecha_notificacion}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>